<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>
<f:view contentType="text/html">
    <h:head>
        <title>form-based-auth-ee</title>
    </h:head>
    <section>

        <h1>Some protected content</h1>
        <h:form>
            <p:growl id="messages"/>

            <p:menubar>

                <p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close"/>


                <f:facet name="options">
                    <p:inputText style="margin-right:10px" placeholder="Search"/>
                    <p:growl id="growl" life="2000"/>
                    <p:commandLink id="ajax" update="growl" actionListener="#{userManager.editUser}">
                        <h:outputText value="Ajax Submit"/>
                    </p:commandLink>
                    <p:commandButton type="submit" value="Logout1" icon="ui-icon-extlink"
                                     actionListener="#{userManager.logOut}"/>
                    <p:commandButton type="button" value="Logout2" icon="ui-icon-extlink"
                                     actionListener="#{userManager.editUser}"/>
                    <p:commandButton type="button" value="Logout" icon="ui-icon-extlink"
                                     actionListener="#{userManager.logOut}"/>
                </f:facet>
            </p:menubar>
        </h:form>
    </section>
</f:view>
</html>
