<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
>
<f:view contentType="text/html">
    <h:head>
        <title>form-based-auth-ee</title>
    </h:head>
    <ui:composition>
    <div class="center">
        <form method="POST" action="j_security_check" id="">
            <h:panelGrid id="panel" columns="2" border="1" cellpadding="4" cellspacing="4">
                <p:outputLabel for="j_username" value="Username:" />
                <p:inputText id="j_username" />
                <p:outputLabel for="j_password" value="Password:" />
                <p:password  id="j_password" />
                <h:panelGroup>
                    <h:commandButton type="submit" value="Login" styleClass="ui-priority-primary" />
                    <!--<input type="submit" value="Login" />-->
                </h:panelGroup>
            </h:panelGrid>
        </form>
    </div>
</ui:composition>
</f:view>
</html>
