<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
>
<f:view  contentType="text/html">
    <h:head>
        <title>form-based-auth-ee</title>
    </h:head>

    <section>
        <h1>Some unprotected content</h1>
    </section>
</f:view>
</html>
